html,
body {
    height: 100%;
    margin: -7px 0 0 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: ".SFNSDisplay-Thin","PingFangSC-Regular", sans-serif;
    font-size: 14px;
    color: #666666;
    /*font-weight: 200;*/
    letter-spacing: 0.12px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.wrap p{
    margin: 0;
    padding: 0;
}

.wrap > .container {
    padding: 0;
    text-align: center;
}

.ownner{
    height: 190px;
    background-color: white;
}

.ownner .nickname{
    padding-top: 55px;
    color: #666;
}

.ownner .avatar{
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.ownner p label{
    position: relative;
    top: -15px;
    left:8px;
}

.ownner .headline{
    padding-top: 24px;
    color:#F8857C;
    font-size: 18px;
}

.member{
    height: 268px;
    background-color: #F8857C;
    color: white;
}

.member>div{
    padding-top: 50px;
}

.member .avatar{
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.member .nickname{
    padding-top: 6px;
}

.member .headline{
    padding-top: 30px;
    font-size: 24px;
}

.member .project{
    padding-top: 30px;
}

.shape>img{
    width: 100%;
    /*height: 59px;*/
}

.project h1{
    /*padding-top: 26px;*/
    font-size: 20px;
    color: #666666;
    line-height: 90px;
    background: url("../images_2/between.png") no-repeat center;
    background-size:299px 90px;

}

.dataform{
    position: absolute;
    top: 82%;
    width: 100%;
}

.dataform .button{
    width: 238px;
    height: 40px;
    background-image: url("../images_2/button.png");
    background-size:238px 40px;
    font-size: 16px;
    color: white;
    border: 0;
}

.android{
    position: absolute;
    top: 93%;
    width: 100%;
    font-size: 11px;
    color: #ADADAD;
    letter-spacing: 0.06px;
}

.android label{
    position: relative;
    top: -3px;
    left:8px;
}

.error img{
    width: 227px;
    height:218px;
    padding-top: 33px;
}

.error h2{
    padding-top: 50px;
    font-size: 24px;
    color: #ADADAD;
}

.error p{
    padding-top: 20px;
    font-size: 18px;
    color: #ADADAD;
}

@media only screen and (max-width: 400px) {
    .shape>img{
        width: 100%;
        /*height: 59px;*/
    }
}


/* 文字内容定义 */
.text_content{
    text-align: left;
    margin: auto 5%;
    padding: 30px 0;
    line-height: 26px;
    font-size: 14px;
    color: #666666;
}

.text_content p{
    text-indent: 2em;
}

.text_content>dl>dt{
    font-weight: bold;
}

.text_content>dl>dd{
    font-weight: 200;
    margin: 0;
    padding-bottom: 10px;
}

.text_content>dl>dd>ul{
    margin: 0 4%;
}


/* 意见反馈表单 */
.info{
    height: 60px;
    padding-top: 35px;
    font-size: 12px;
}

.feedbackForm .form_desc{
    height: 277px;
    background: #E7E7E7;
    font-size: 14px;
    color: #ADADAD;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
}

.feedbackForm ul{
    padding: 10px 20px 0 20px;
    margin: 0;
}


.feedbackForm ul li{
    display: inline-block;
    margin:  0 5px 0 5px;
    padding: 0;
    background-color: white;
    border: white;
    border-radius: 4px;
    height: 40px;
    width: 107px;
}

.feedbackForm ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #ADADAD;
    position: relative;
    top: 9px;

}

.feedbackForm textarea{
    width: 307px;
    height: 137px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px #ffffff;
    resize: none;
    padding: 20px;
    font-size: 14px;
    color: #666666;
}

.feedbackForm .form_contact{
    align-content: center;
    width: 365px;
    margin: auto;
}

.feedbackForm dl{
    margin: 10px;
    height: 30px;
    border-bottom: 1px solid #ADADAD;
    text-align: left;
}

.feedbackForm dl dt{
    float: left;
    font-size: 16px;
    color: #ADADAD;
    width: 15%;
}

.feedbackForm dl dd{
    width: 85%;
}

.feedbackForm dl dd input{
    width: 85%;
}

.feedbackForm .button{
    margin-top: 50px;
    width: 238px;
    height: 40px;
    background-image: url("../images_2/button.png");
    background-size:238px 40px;
    font-size: 16px;
    color: white;
    border: 0;
}

@media only screen and (max-width: 370px) {
    .feedbackForm ul{
        padding: 10px 10px 0 10px;
    }

    .feedbackForm ul li{
        width: 82px;
        /*height: 59px;*/
    }

    .feedbackForm ul li a{
        font-size: 0.8rem;
    }

    .feedbackForm textarea{
        width: 230px;
    }

    .feedbackForm .form_contact{
        width: 298px;
    }

    .feedbackForm dl{
        margin: 10px 15px;
        font-size: 0.8rem;
        height: 25px;
    }

    .feedbackForm dl dt{
        font-size: 0.8rem;
        padding-top: 4px;
    }
}

@media only screen and (min-width: 375px) and (max-width:399px) {
    .feedbackForm ul{
        padding: 10px 10px 0 10px;
    }

    .feedbackForm ul li{
        width: 103px;
        /*height: 59px;*/
    }

    .feedbackForm ul li a{
        font-size: 1rem;
    }

    .feedbackForm textarea{
        width: 295px;
    }

    .feedbackForm .form_contact{
        width: 390px;
    }

    .feedbackForm dl{
        margin: 10px 23px;
        font-size: 1rem;
        height: 26px;
    }

    .feedbackForm dl dt{
        font-size: 1rem;
        padding-top: 2px;
    }
}


.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
