html,
body {
    height: 100%;
    margin: -7px 0 0 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: "PingFangSC-Regular", sans-serif;
    font-size: 14px;
    /*font-weight: 200;*/
    letter-spacing: 0.12px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.wrap p{
    margin: 0;
    padding: 0;
}

.wrap > .container {
    padding: 0;
    text-align: center;
}

.ownner{
    height: 190px;
    background-color: white;
}

.ownner .nickname{
    padding-top: 55px;
    color: #666;
}

.ownner .avatar{
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.ownner p label{
    position: relative;
    top: -15px;
    left:8px;
}

.ownner .headline{
    padding-top: 24px;
    color:#F8857C;
    font-size: 18px;
}

.member{
    height: 268px;
    background-color: #F8857C;
    color: white;
}

.member>div{
    padding-top: 50px;
}

.member .avatar{
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.member .nickname{
    padding-top: 6px;
}

.member .headline{
    padding-top: 30px;
    font-size: 24px;
}

.member .project{
    padding-top: 30px;
}

.project h1{
    padding-top: 26px;
    font-size: 20px;
    color: #666666;

}

.dataform{
    position: absolute;
    top: 85%;
    width: 100%;
}

.dataform .button{
    width: 238px;
    height: 40px;
    background-image: url("../images_2/button.png");
    background-size:238px 40px;
    font-size: 16px;
    color: white;
    border: 0;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
